<div h5class="space-y-3 my-2">
  <div class="row row-responsive" style="margin-right: -24px;">
    <table class="" role="presentation" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 100%;" width="100%">
      <tbody>
        <tr>
          <td class="col-lg-4 col-md-12" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 33.333333%; margin: 0;" align="left" valign="top">
            <img class="img-fluid" src="{{ car['car_image_url' }}" alt="Some Image" style="height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; max-width: 100%; width: 100%; border-style: none; border-width: 0;" width="100%">
          </td>
          <td class="col-lg-8 col-md-12" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 66.666667%; margin: 0;" align="left" valign="top">
            <p class="text-gray-700 h5" style="line-height: 24px; font-size: 20px; color: #4a5568; padding-top: 0; padding-bottom: 0; font-weight: 500; vertical-align: baseline; width: 100%; margin: 0;" align="left">
              <a href="{{ car['car_url'] }}" target="_blank" style="color: #0d6efd;">{{ car.car_name }}</a>
            </p>
            <p class="text-gray-700" style="line-height: 24px; font-size: 16px; color: #4a5568; width: 100%; margin: 0;" align="left">{{ car['car_year'] }} | {{ car['car_distance'] }} | {{ car['car_location'] }}</p>
            <p class="text-gray-700" style="line-height: 24px; font-size: 16px; color: #4a5568; width: 100%; margin: 0;" align="left">{{ car['car_engine_type'] }} | {{ car['car_engine_cap'] }} | {{ car['car_engine_power'] }}</p>
            <p class="text-gray-700" style="line-height: 24px; font-size: 16px; color: #4a5568; width: 100%; margin: 0;" align="left">{{ car['car_price'] }} | {{ car['car_otomoto_rating'] }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>